body {
    color: #82a5ca;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

#hero {
    background-image: url("images/galaxy.gif");
    background-size: cover;
    padding: 10px 0 40px 0;
    font-size: 24px;
    text-shadow: 5px -5px 0px black;
}
h1{
    text-shadow: 0px 0px 4px black;
}

#main-logo {
    width: 100px;
}

.btn {
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: 'Orbitron', sans-serif;
    color: #82a5ca;
    font-weight: 800;
}

.underline {
    border-bottom: 4px solid white;
}
   

@font-face {
    src: url("Corleone.ttf");
    font-family: Corleone;
}

