body {
    color: white;
    background-image: url("images/guillermo-ferla-Oze6U2m1oYU-unsplash.jpg");
    background-size: cover;
    text-align: center;
    font-family: "Orbitron", sans-serif;
}

.btn {
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: inherit;
}

@font-face {
    src: url("Corleone.ttf");
    font-family: Corleone;
}

.underline {
    border-bottom: 2px solid white;
}