body {
    color: white;
    background-image: url("images/galaxy.gif");
    background-size: cover;
    text-align: center;
    font-family: "Orbitron", sans-serif;
}

#main-logo {
    width: 200px;
}

.btn {
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: inherit;
}

@font-face {
    src: url("Corleone.ttf");
    font-family: Corleone;
}

.funderline {
    border-bottom: 2px solid white;
}